body {
  background: #000;
  margin: 20px;
}

@font-face {
  font-family: 'Share Tech Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Share Tech Mono'), local('ShareTechMono-Regular'), url(/media/share_tech_mono.woff) format('woff');
}
